:root {
    /* color */
    --primary-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    /* font */
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --bold-font: 700; 
    --bolder-font: 900;
    --primary-font-size: 16px;
    --secondary-font-size: 14px;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    display: flex;
}

.section {
    /* border-image: ; */
}

.section-title {
    /* font-weight: ;
    font-size: ;
    line-height: ;
    color: ; */
}


/* header */

.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.logo {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    font-weight: var(--bold-font);
    /* margin-right: 93px; */
    /* width: 145px;
    height: 31px;
    display: block; */
}

.logo-first {
    color: var(--accent-color);    
}

.menu { 
}

.menu-list, .menu-contact{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.menu-item {
    margin: 25px;
    /* font-family: var(--primary-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--medium-font); */
    /* padding: 16px 0; */
}

.menu-link {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--medium-font);
    line-height: 1.14;
}

.menu-contact {}

.contact-list + .contact-list {
    margin: 50px;
}

.menu-link:hover, .menu-link:focus {
    color: var(--accent-color);
}

/* end header */

/* slider */

.slider {
    background-color: #2F303A;
    padding: 200px 280px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.slider-text {
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 44px;
    font-weight: var(--bolder-font);
    line-height: 1.36;
}

.slider-btn {
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-weight: var(--bolder-font);
    font-size: var(--primary-font-size);
    line-height: 1.88px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* end slider */

/* special */
.special {
    background-color: #FFFFFF;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.special-list {}

.special-item {
    margin: 15px;
}

.special-head {
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: var(--secondary-font-size);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.special-text {
    font-family: var(--primary-font);
    font-weight: var(--normal-font);
    font-size: var(--secondary-font-size);
    line-height: 1.74;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
/* end special */

/* todo */

.todo {
    
}

.todo-head {
    font-family: var(--primary-font);
    font-weight: var(--bold-font);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.todo-list {
    padding: 0;    
}

.todo-item {
    margin: 0px 30px 0px 0px;    
}
/* end todo */

/* team */
.team {
    background-color: #F5F4FA;
}

.team-head {
    font-family: var(--primary-font);
        font-weight: var(--bold-font);
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-color);
}

.team-list {}

.team-item {}

.team-img + .team-img {
    width: 270px;
    height: 260px;
    border-radius: 0px;
    margin: 15;
}

.team-name {
    font-family: var(--primary-font);
    font-weight: var(--medium-font);
    font-size: var(--primary-font-size);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.team-skills {
    font-family: var(--primary-font);
    font-weight: var(--normal-font);
    font-size: var(--primary-font-size);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var();
}
/* end team */

/* footer */

.footer {
    background-color: #2F303A;
}

.logo-footer {
    display: block;
    color: #FFFFFF;
    padding: 60px 215px ;
}

.contact-list {
    

}

/* end footer */

/* portfolio */

.portfolio-cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

